.pc{
	display: block !important;
}

.sp{
	display: none !important;
}


.header{
	display: flex;
}

.logo_kaigaiiju-channel{
	width: 8%;
	height: auto;
	display: inline-block;
	margin: 3% 50%;
}

h1{

	position: relative;
  top: 35px;
  font-size: 2.5em;

}

.link{
	color: #6495ED;
	font-size: 0.9em;
}

.lodo_chikahiro{
	width: 70px;
}
